
  <div class="home-title">
    <h1 id="title">Folio</h1>
      <p id="slogan">Organizing the job search</p>
  </div>
	<% if signed_in? %>
		<div class="signed-in-filler"></div>
	<% else %>
		<div class="login-info">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.text_field :username, placeholder: 'Username' %>
				<%= f.password_field :password, placeholder: 'Password' %>
				<%= f.submit 'Sign in' %>
				<%= link_to "Create an account", signup_path %>
			<% end %>
		</div>
	<% end %>
  <div class="about" >
   <a id="about-title"  href="#">What is it?</a>
   <img src="http:///placekitten.com/500/500" />
  </div>

