<ul class="side-nav">
	<dl class="sub-nav">
		<dt>Groups:</dt>
		<% unless @selected_group %>
			<dd><%= link_to 'All', jobs_path, class:'active' %></dd>
		<% else %>
			<dd><%= link_to 'All', jobs_path %></dd>
		<% end %>
		<% @groups.each do |group| %>
			<% if group == @selected_group %>
				<dd><%= link_to group.name.titleize, group_jobs_path(group), class:"active" %></dd>
			<% else %>
				<dd><%= link_to group.name.titleize, group_jobs_path(group)  %></dd>
			<% end %>
		<% end %>
		<dd><%= link_to "+", new_group_path, remote: true %></dd>
		<dd><%= link_to "Edit", group_edit_path %></dd>
	</dl>
</ul>
<div id="new-group"></div>
