<h1>Edit Jobs</h1>

<div class="form">
	<%= form_for(@job, url: user_job_path) do |f| %>
		<%= render 'shared/error_messages' %>
		
		<%= f.label :position %>
		<%= f.text_field :position %>
		
		<%= f.label :company %>
		<%= f.text_field :company%>
		
		<%= f.label :location %>
		<%= f.text_field :location %>
		
		<%= f.label :applied %>
		<%= f.check_box :applied %>
		
		<%= f.label :link %>
		<%= f.text_field :link %>
		
		<%= f.label :description %>
		<%= f.text_area :description %>
		
		<%= f.label :notes %>
		<%= f.text_area :notes %>

		<%= f.submit "Save changes" %>
	<% end %>
</div>
	