	<div class="content">
		<h1>Jobs</h1>
		<ol class="tree">
			<% @job_groups.each do |group| %>
				<li class="jobs">
					<h2 class="job-groups"><%= group.name %></h2>
					<table>
						<thead>
							<tr>
								<% @job_columns.each do |column| %>
									<th><%= column.titleize %></th>
								<% end %>
							</tr>
						</thead>
						<tbody>
							<% group.jobs.each do |job| %>
								<tr>
									<% @job_columns.each do |attribute| %>
										<% value = job.send(attribute.to_sym) %>
										<% if attribute == "position" %>
											<% if value != "" %>
												<td><%= link_to value, user_job_path(:id => job.id) %></td>
											<% else %>
												<td><%= link_to 'Unknown Position', user_job_path(:id => job.id) %></td>
											<% end %>
										<% elsif attribute == 'link' && value != nil && value != "" %>
											<td><%= link_to value.split("http://")[-1], value %></td>
										<% elsif attribute == @last_column %>
											<td>
												<%= value %>
												<p class="edit-job"><%= link_to 'Edit', edit_user_job_path(:id => job.id)%></p>
											</td>
										<% else %>
											<td><%= value %></td>
										<% end %>
									<% end %>
									<td><%= link_to 'Upload Documents', new_job_job_upload_path(job) %></td>
								</tr>
							<% end %>
							<tr>
								<td><%= link_to "New", new_user_job_path(job_group_id: group) %></td>
							<tr>
						</tbody>
					</table>
				</li>
			<% end %>
		</ol>
	</div>