<h1>Create new Job Listing</h1>

<div class="form">
	<%= form_for(@job, url: user_jobs_path) do |f| %>
	<% i = 0 %>
		<%= render 'shared/error_messages' %>
		<%= f.hidden_field :job_group_id, :value => params[:job_group_id]  %>
		<%= f.fields_for(:job_column_contents) do |cf| %>
		
			<%= cf.label :content, @job_columns[i].title  %>
			<%= cf.text_field :content %>
			<% i += 1 %>
		<% end %>
		<%= f.submit "Create Posting" %>
	<% end %>
</div>
	