
<h1>Sign up</h1>

<div class="form">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		
		<%= f.label :username, "Username*"		%>
		<%= f.text_field :username %>
		
		<%= f.label :password, "Password*" %>
		<%= f.password_field :password %>
		
		<%= f.label :password_confirmation, "Password Confirmation*"%>
		<%= f.password_field :password_confirmation %>
		
		<%= f.label :name, "Name" %>
		<%= f.text_field :name %>
		
		<%= f.submit "Create my account", class: "button" %>
	<% end %>
</div>
<p class="footnote">* Required</p>
