<% if signed_in? %>	
	<header class="header">
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
			  <li class="name">
				  <h1><%= link_to "Folio", root_path, class:"logo" %></h1>
				</li>
				<li class="toggle-topbar menu-icon">
				  <a href="#">Menu</a>
				</li>
			</ul>
			<section class="top-bar-section">
			  <ul class="left">
				  <li><%= link_to "Jobs", jobs_path %></li>
				  <li><%= link_to "Profile", current_user %></li>
			  </ul>
			  <ul class="right">
				  <li class="has-dropdown">
					  <a href="#">Settings</a>
					  <ul class="dropdown">
						  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
						  <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					  </ul>
				  </li>
			  </ul>
		  </section>
		</nav>
	</header>
<% end %>